@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,600;0,700;1,600&family=Montserrat:wght@400;500;600;700&display=swap');
@import 'nib'
@import './global/color.styl'

img
  max-width 100%

body
	font-family 'Montserrat', sans-serif
	font-size 16px

figure
	margin 0
	padding 0


header
	position absolute
	top 10px
	left 0
	width 100%
	z-index 990
	a
		color white
		font-size 1.35rem

footer
	background black
	nav
	a
	p
	h3
		color white

.g-carousel
	.owl-nav
		margin-top 30px
		button
			outline none
			transition all 0.3s
			&:nth-of-type(2)
				margin-left 60px!important
			&:hover
				background transparent!important
				transform scale(1.2)
				span
					color azul!important
			span
				background transparent!important
				font-size 90px
				line-height 0
				transition all 0.3s

	.owl-dots
		button
			outline none
			span
				height 13px!important
				width 13px!important
		.active
			span
				background azul!important



.font-cormorant
.font-cormorant-italic
.font-cormorant-bold
	font-family 'Cormorant', serif

.font-cormorant-italic
	font-style italic

.font-cormorant-bold
	font-weight bold

.logo
	img
		max-width 100px

.btn-blue
	background-color rgba(10, 119, 202, 0.302)
	color white
	padding 10px 25px
	font-size 1.1rem
	transition all 0.3s
	&:hover
		background-color rgba(10, 119, 202, 1)
		transform scale(1.1)


.home-top-content
	position relative
	article
		background-size cover
		position relative
		h2
		a
			position relative
			z-index 10
		h2
			color white
			font-size 1.5rem
			font-weight 500
			span
				margin-bottom 1rem

	.owl-dots
		bottom 40px
		left 50%
		position absolute
		transform translate(-50%)
.home-studio
.home-quienes-somos
.ser-parte-requirimientos
.ser-parte-encontraras
	background-size cover
	background-position center center

.home-studio
	h2
		font-size 3.8rem
		margin-bottom 1.5rem
		span
			&:nth-of-type(2)
				margin-left 10px

.home-studio-content
	p
		font-size 1.313rem
.home-quienes-somos
	h2
		font-size 4.125rem
		margin-top 0.5rem
	p
		font-size 1.05rem
		line-height: 2.3rem
		text-transform uppercase


.home-casos-exito
	position relative
	&:before
		background grisRegular
		bottom 0
		content ''
		height 220px
		position absolute
		left 0
		width 100%
		z-index 0
	h2
		font-size 3.213rem
		font-weight 600

.home-casos-exito-content
	position relative
	z-index 10
	article
		max-width 410px


.section-registro
	a
		align-items center
		background white
		border 2px solid black
		color rgb(115, 115, 115)
		display flex
		font-weight bold
		font-size 1.2rem
		justify-content center
		height 55px
		transition all 0.3s
		max-width 300px
		&:hover
			background black
			border 2px solid transparent
			color white
			transform scale(1.1)
	p
		font-size 1.6rem
		font-weight bold

.home-registro
	a
		align-items center
		background transparent
		border 2px solid black
		color rgb(115, 115, 115)
		display flex
		font-weight bold
		font-size 1.2rem
		justify-content center
		height 55px
		transition all 0.3s
		max-width 300px
		&:hover
			background black
			border 2px solid transparent
			color white
			transform scale(1.1)
	p
		font-size 1.6rem
		font-weight bold

.toobar
.last-footer
	background-size cover
	background-repeat no-repeat
	height 9px

.toobar
	background-image: url('../img/toobar.png')

.last-footer
	background-image: url('../img/back-last-footer.png')


.icon-whatsapp
	position fixed
	transition all 0.3s
	right 2rem
	bottom 10rem
	&:hover
		transform scale(1.3)
	img
		width 57px

.section-video
	video
		max-height 450px
		margin auto
		max-width 100%


footer
	padding-bottom 5rem
	padding-top 2rem
	nav
		a
			font-size 1.3rem
			font-weight 600
			padding-bottom 0.3rem
			padding-top 0.3rem

	h3
	p
		font-size 1.1rem
	h3
		line-height 1.7rem

.footer-logo
	img
		max-width 150px

.ser-parte-banner
	background-size cover
	background-position center center
	padding-top 110px
	position relative
	&:before
		background rgba(0, 0, 0, 0.2);
		content ''
		position absolute
		left 0
		top 0
		height 100%
		width 100%
		z-index 0
	article
		position relative
		z-index 10
		h2
			color white
			font-size 3rem
			text-align center
		.flex
			strong
				color azul
				font-size 2.5rem
				margin-top -5px

			p
				color white
				font-size 1.05rem
				line-height 2rem
				margin-left 1.1rem




.ser-parte-requirimientos
.ser-parte-encontraras
	h2
		font-size 2.6rem

.ser-parte-requirimientos
	h2
		margin-bottom 2.5rem
	ul
		li
			margin-top 20px
			position relative
			&:before
				background azul
				border-radius 50%
				content ''
				height 10px
				position absolute
				left -35px
				top 15px
				width 10px
			p
				font-size 1rem
				line-height 2rem
				font-weight 500
				text-transform uppercase

.ser-parte-encontraras
	h2
		margin-bottom 2.5rem
	ul
		li
			font-size 1rem
			line-height 2.3rem
			font-weight 500
			margin-top 10px
			position relative
			text-transform uppercase
			&:before
				background black
				border-radius 50%
				content ''
				height 5px
				position absolute
				left -35px
				top 15px
				width 5px


.preguntas-content
	padding-top 70px

.preguntas
	background-size cover
	background-position center
	h2
	p
		color white
	strong
		color azul
		font-size 3rem
		font-weight 600!important
	h2
		font-size 2.5rem
		span
			display block
			&:nth-of-type(2)
				margin-top -10px
	article
		margin-top 40px
	p
		font-size 1.05rem
		font-weight 500
		line-height 2.1em



.contacto-content
	h2
		font-size 4rem
		text-align center
	article
		&:nth-of-type(1)
			font-weight 500
		&:nth-of-type(2)
			font-weight bold
			font-size 1.3rem


@media screen and (max-width 1023px)
	.header-menu-close
		color white
		cursor pointer
		font-size 3em
		position absolute
		top 10px
		right 20px
		z-index 100

	.menu-content
		background black
		height 100%
		left 0
		overflow-x hidden
		padding-top 80px
		position fixed
		top 0
		transition all 0.5s
		width 0
		z-index 99
		nav
			position relative
			flex-direction column
			text-align center
			margin-top 5rem
			width 100%
			a
				color white
				font-size 2em
				font-weight bold
				padding 0.5em 0

@media screen and (max-width 767px)
	.container
		width 95%

@media screen and (min-width 768px)
	.home-top-content
		article
			h2
				font-size 1.8rem
	.btn-blue
		font-size 1.3rem
		padding 10px 35px
	.home-studio
		h2
			font-size 4.125rem
			margin-bottom 2.5rem
	.home-quienes-somos
		h2
			font-size 5.125rem
	.ser-parte-requirimientos
		ul
			p
				font-size 1.1rem
	.ser-parte-encontraras
		ul
			li
				font-size 1.1rem
	.ser-parte-banner
		article
			h2
				font-size 4rem
	.preguntas
		h2
			font-size 2.9rem
			margin-left 15px
@media screen and (min-width: 1024px)
	.active-nav
		background azul!important
	header
		padding-top 1.2rem
		nav
			margin-top 20px
			a
				background transparent
				padding 5px 27px
				transition all 0.3s
				&:hover
					transform scale(1.1)
					text-decoration underline
	.btn-blue
		font-size 1.563rem
		padding 10px 45px

	.home-top-content
		article
			height 100vh
			h2
				font-size 2.337rem
	.home-studio
		h2
			margin-bottom 2.5rem
	.section-registro
	.home-registro
		a
			width 470px

	.home-casos-exito
		h2
			display inline-block
			position relative
			z-index 10
			&:before
				background azul
				bottom 28px
				content ''
				height 4px
				position absolute
				left -110px
				width 180px
				z-index -3
	.ser-parte-banner
		h2
			p
				&:nth-of-type(2)
					position relative
					&:before
						background azul
						bottom 44px
						content ''
						height 4px
						position absolute
						left -75px
						width 150px
						z-index -3

	.ser-parte-requirimientos
		h2
			position relative
			z-index 10
			&:before
				background azul
				bottom 46px
				content ''
				height 4px
				position absolute
				left -80px
				width 150px
				z-index -1
	.logo
		position relative
		img
			max-width 150px
		figcaption
			background-image url('../img/img-media-set.png')
			height 25px
			top 20px
			right 15px
			position absolute
			width 151px
			z-index 8
	footer
		padding-left 3rem
		padding-right 3rem
	.ser-parte-banner
		padding-top 200px
		article
			h2
				text-align left
			.flex
				strong
					font-size 3.5rem
	.ser-parte-encontraras
	.ser-parte-requirimientos
		h2
			font-size 4.125rem
			margin-bottom 3rem
	.ser-parte-encontraras
		h2
			position relative
			z-index 10
			&:before
				background azul
				bottom 46px
				content ''
				height 4px
				position absolute
				left 3px
				width 127px
				z-index -1
	.preguntas
		span
			&:nth-of-type(1)
				position relative
				z-index 10
				&:before
					background azul
					bottom 31px
					content ''
					height 4px
					position absolute
					left -44px
					width 137px
					z-index -1
	.preguntas-content
		padding-top 170px
	.contacto
		padding-top 170px
		h2
			display inline-block
			position relative
			z-index 10
			&:before
				background azul
				bottom 38px
				content ''
				height 4px
				position absolute
				left -40px
				width 130px
				z-index -3
	.footer-logo
		img
			max-width 200px
