a(href="https://api.whatsapp.com/send?phone=+573242784705").icon-whatsapp
	figure
		img(src="img/icono-whatsapp.png" alt="icono de whatsapp")

footer
	.container.mx-auto
		.footer-content(class="lg:flex")
			article(class="lg:w-4/12 mt-10")
				figure.footer-logo
					img(src="img/logo-footer.png" alt="logo de MS footer", class="mx-auto lg:mx-0")
			article(class="lg:w-4/12 mt-10")
				div(class="lg:w-11/12 lg:mx-auto")
					h3(class="text-center lg:text-left")
						span.block ¿Deseas ser parte de nuestro equipo?
						span.block Eres mayor de edad deja tus datos para programarte una entrevista.

					p.text-center.mt-8 Av. 5b Norte # 23dn - 36, San Vicente
					p.text-center.mt-4 Cali - Colombia
			article(class="lg:w-4/12 mt-10")
				nav(class="text-center lg:text-right")
					a(href="./").block Inicio
					a(href="quieres-ser-parte").block ¿Quieres ser parte?
					a(href="preguntas-frecuentes").block Preguntas Frecuentes
					a(href="contacto").block Contacto
.last-footer
