.toobar
header(class="mt-4 lg:mt-0")
	.container.mx-auto
		div(class="items-center flex justify-between lg:items-start")
			div(class="w-7/12 lg:w-3/12")
				a(href="./")
					figure.logo
						img(src="img/logo.png", alt="logo")
						figcaption
			div(class="w-4/12 lg:w-9/12 xl:w-8/12")
				span.cursor-pointer.header-menu-open.ml-auto.mr-0(onclick="openMenuMobile()" class="lg:hidden")
					svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' width='35' height='35' fill="white" class="ml-auto mr-0")
						path.heroicon-ui(d='M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z')
				.menu-content
					span.cursor-pointer.p-2.header-menu-close(onclick="closeMenuMobile()", class="lg:hidden")
						svg(stroke='currentColor' fill='none' viewbox='0 0 24 24' width='34' height='34')
							path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')
					nav(class="flex lg:justify-around")#navigation
						a(href="/" class="font-medium") Inicio
						a(href="/quieres-ser-parte.html" class="font-medium") ¿Quieres ser parte?
						a(href="/preguntas-frecuentes.html" class="font-medium") Preguntas frecuentes
						a(href="/contacto.html" class="font-medium") Contacto
