<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title MS - Contacto
	link(rel="shortcut icon", href="./favicon.ico")
	meta(name="description", content="Escribe una descripción breve del proyecto")
	include global/head

body
	include global/header
	main
		section(style="background-image: url('img/back-contacto.png')" class="pb-16 px-6 lg:px-0 pt-24 lg:pt-32").contacto
			.container-mx-auto
				.contacto-content(class="lg:w-6/12 lg:mx-auto")
					.text-center
						h2.font-cormorant(class="lg:mb-8") Ubicación
					article
						p.text-center Somos un estudio webcam totalmente legal, ubicado al Norte de la  hermosa ciudad Santiago de Cali, posicionado estratégicamente junto a la glamurosa avenida sexta, de fácil acceso desde y hacia la Terminal de Transporte, centro comercial pasarela y  Estaciones de Transporte masivo MIO.
					article
						p.text-center.mt-8 Av. 5b Norte # 23dn - 36, San Vicente
						p.text-center.mt-4 Cali - Colombia
				.section-video(class="py-8")
					video(src="videoubicacion.mp4", controls)
				.section-registro(class="py-12 lg:py-16")
					p.text-center ¿QUIERES SER MODELO?
					p.text-center.mt-2 ¡NO LO PIENSES MÁS!
					a(href="https://api.whatsapp.com/send?phone=+573242784705").my-8.mx-auto COMUNÍCATE
					p.text-center ¡CONVIERTE ESTE SUEÑO EN
					p.text-center.mt-2 TU MEJOR EXPERIENCIA!


	include global/footer
	include global/footer-scripts
