<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title MS - Home
	meta(name="description", content="Escribe una descripción breve del proyecto")
	include global/head
body
	include global/header
	main
		section.home-top
			.home-top-content.owl-carousel.owl-theme.g-carousel
				article(style="background-image: url('img/back-home-slider-1.png')" class="pt-32 lg:pt-0").flex.items-end.pb-32
					.container.mx-auto.home-top-item
						h2.text-center
							span.block FORMAMOS  TALENTOS PARA UNA DE
							span.block LAS INDUSTRIAS MÁS RÁPIDO CRECIMIENTO A
							span.block NIVEL MUNDIAL
						.text-center.mt-10
							a(href="/quiero-ser-parte").inline-block.btn-blue.font-bold SE PARTE DE MEDIASET
				article(style="background-image: url('img/back-home-slider-2.png')" class="pt-32 lg:pt-0").flex.items-end.pb-32
					.container.mx-auto.home-top-item
						h2.text-center
							span.block ¡CONVIERTE ESE SUEÑO EN TU
							span.block MEJOR EXPERIENCIA!
						.text-center.mt-10
							a(href="/quiero-ser-parte").inline-block.btn-blue.font-bold SE PARTE DE MEDIASET
				article(style="background-image: url('img/back-home-slider-3.png')" class="pt-32 lg:pt-0").flex.items-end.pb-32
					.container.mx-auto.home-top-item
						h2.text-center
							span.block ¿TIENES ALGUNA DUDA
							span.block SOBRE EL MUNDO DEL MODELAJE?
						.text-center.mt-10
							a(href="/preguntas-frecuentes").inline-block.btn-blue.font-bold PREGUNTAS FRECUENTES


		section(style="background-image: url('img/back-home-studio.png')" class="py-16 lg:py-32").home-studio
			.container.mx-auto
				h2.text-center
					span.font-cormorant(class="block md:inline") Nuestro
					span.font-cormorant-italic(class="block md:inline -mt-4 md:mt-0") estudio
				.home-studio-content.owl-carousel.owl-theme.g-carousel
					article(class="px-6 lg:px-0  lg:w-7/12 lg:ml-auto lg:mr-0")
						p.font-cormorant(class="lg:w-10/12 lg:ml-0 lg:mr-auto")
							span.font-cormorant-italic MediaSet Studio
							|  es una empresa que brinda entretenimiento para adultos a través de plataformas que ofrecen los mejores y más exclusivos servicios de la industria a nivel global. Contamos con excelentes instalaciones y un gran equipo administrativo para guiar en cada etapa del proceso a nuestras colaboradoras. Brindamos, estabilidad laboral, excelentes ingresos, horarios flexibles y pagos semanales basados en tu productividad.
						p.font-cormorant-bold(class="lg:w-10/12 lg:ml-0 lg:mr-auto mt-12") Estamos comprometidos con la mejora continua de nuestros procesos de gestión, consideramos que la capacitación inicial y constante son parte del secreto del éxito, es por eso que nos enfocamos en capacitar nuestro personal en todas las áreas del negocio. Estas capacitaciones maximizan la calidad de nuestra oferta comercial y son claves para generar una mayor productividad.
					article(class="px-6 lg:px-0 lg:w-7/12 lg:ml-auto lg:mr-0")
						p.font-cormorant(class="lg:w-10/12 lg:ml-0 lg:mr-auto") Nos enorgullece contar con la capacitación que brinda apoyo permanente y son guías en el crecimiento y asesoramiento profesional, personal, cultural y social (incluyendo el vestuario, maquillaje, actitud frente a cámara y técnicas efectivas en el arte de la conversación/seducción) de nuestro equipo de modelos.
						p.font-cormorant-bold(class="lg:w-10/12 lg:ml-0 lg:mr-auto mt-12") MediaSet Studio enseña técnicas de comunicación esenciales (verbales y no verbales) para que nuestras modelos puedan expresarse de manera fácil, dinámica y sugestiva con nuestros clientes. La empresa busca ofrecer una experiencia mágica y única día tras día, nuestras modelos son las protagonistas principales de este proceso y las apoyamos en todo lo que podemos. Como empresa orientada al logro, apoyamos a nuestros colaboradores en el logro de sus metas personales, profesionales, financieras, sociales y culturales.
					article(class="px-6 lg:px-0 lg:w-7/12 lg:ml-auto lg:mr-0")
						p.font-cormorant(class="lg:w-10/12 lg:ml-0 lg:mr-auto") MediaSet Studio ofrece asesoría personalizada durante cada turno, capacitaciones (inicial y constante), horarios definidos los cuales permiten. cumplir todos los días un número exacto de horas y un plan de trabajo que permite que nuestro equipo cumpla con sus metas y objetivos. Contamos con un equipo de trabajo disciplinado, leal, serio y comprometido que se enfoca en cumplir estas metas.


		section.home-casos-exito(class="pt-16 pb-16 lg:pt-20 lg:pb-20")
			.container.mx-auto
				.ms-title.text-center
					h2 CASOS DE EXITO
				.home-casos-exito-content(class="lg:flex lg:justify-between")
					article(class="mx-auto lg:mx-0 mt-10 lg:mt-16")
						figure
							img(src="img/img-girl-1.png" alt=" imagen de chica 1")
					article(class="mx-auto lg:mx-0 mt-10 lg:mt-16")
						figure
							img(src="img/img-girl-2.png" alt=" imagen de chica 2")
					article(class="mx-auto lg:mx-0 mt-10 lg:mt-16")
						figure
							img(src="img/img-girl-3.png" alt=" imagen de chica 3")
		section.home-registro(class="py-16 px-6 lg:py-0 lg:py-24")
			.container.mx-auto
				.home-registro-content
					p.text-center ¿QUIERES SER MODELO?
					p.text-center.mt-2 ¡NO LO PIENSES MÁS!
					a(href="https://api.whatsapp.com/send?phone=+573242784705").my-8.mx-auto COMUNÍCATE

					p.text-center ¡CONVIERTE ESTE SUEÑO EN
					p.text-center.mt-2 TU MEJOR EXPERIENCIA!
	include global/footer
	include global/footer-scripts
