<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title MS - Preguntas frecuentes
	meta(name="description", content="Escribe una descripción breve del proyecto")
	include global/head

body
	include global/header
	main
		section(style="background-image: url('img/back-preguntas.png')" class="pb-16").preguntas
			.container-mx-auto
				div(class="lg:w-7/12 lg:mx-auto preguntas-content")
					article(class="px-6 lg:px-0")
						.flex
							strong(class="hidden md:block") 1
							h2.font-cormorant(class="text-center md:text-left")
								span ¿Qué es un video chat?
						p(class="lg:pl-24") Es un servicio de entretenimiento para adultos, se ofrece a través de Páginas Web especializadas que ofrecen una oportunidad de trabajo seguro, sin contacto físico y con excelentes ingresos semanales.
					article(class="px-6 lg:px-0")
						.flex
							strong(class="hidden md:block") 2
							h2.font-cormorant(class="text-center md:text-left")
								span ¿Es legal la profesión de modelaje
								span webcam en Colombia?

						p(class="lg:pl-24") Sí, es un trabajo digno desarrollado de forma profesional y voluntaria. Es necesario que cada candidata conozca las características del trabajo como modelo webcam y cumpla con los siguientes requisitos: ser mayor de edad Mayor de 18 Años) y tener la documentación legal al día.
					article(class="px-6 lg:px-0")
						.flex
							strong(class="hidden md:block") 3
							h2.font-cormorant(class="text-center md:text-left")
								span ¿Debo ser modelo?
						p(class="lg:pl-24") La actividad del video chat se basa principalmente en la comunicación, en la construcción de una relación en línea duradera, en captar la atención de un miembro y en mantener siempre una hermosa sonrisa. Un cuerpo hermoso puede ser una ventaja, pero no es necesario.
					article(class="px-6 lg:px-0")
						.flex
							strong(class="hidden md:block") 4
							h2.font-cormorant(class="text-center md:text-left")
								span Si voy a la entrevista...
								span ¿Debo realizar alguna prueba?
						p(class="lg:pl-24") No tendrás que hacer ninguna prueba ni proveer ninguna evidencia durante la entrevista. La entrevista permite a las candidatas conocer las condiciones de trabajo y a nosotros como empresa verificar si cumples con los requisitos mínimos de contratación (edad, actitud, aptitud, carisma, disponibilidad de tiempo y conexión con la oferta de nuestra empresa), las entrevistas son realizadas por profesionales preparados y capacitados para realizar este tipode selección de personal. Es una entrevista laboral tradicional, incluimos un recorrido por las instalaciones de un estudio, mientras conocemos las candidatas y responderemos las preguntas que tengan.
					article(class="px-6 lg:px-0")
						.flex
							strong(class="hidden md:block") 5
							h2.font-cormorant(class="text-center md:text-left")
								span ¿Cómo me pagan?
						p(class="lg:pl-24") La empresa realiza pagos semanales, dependiendo de lo que cada modelo haya facturado. Somos transparentes, que significa que cada modelo puede ver en cualquier momento cuántas horas ha estado activa en la plataforma, la facturación y qué comisión recibe. La comisión mínima es de 50%. Existen otros beneficios adicionales por cumplimiento de metas.

					article(class="px-6 lg:px-0")
						.flex
							strong(class="hidden md:block") 6
							h2.font-cormorant(class="text-center md:text-left")
								span ¿Qué pasa si la ropa en mi
								span armario no coincide?
						p(class="lg:pl-24") En cualquier trabajo el qué vestir es un reto, en este trabajo es muy importante contar con ropa sexy, lencería cómoda y creativa. Para comenzar recomendamos acudir a esa blusa coqueta de tu armario, una que creas que favorece tu cuerpo y te hace sentir atractiva. Una vez que tengas algo de experiencia, los entrenadores te ayudarán a vestirte, manejar tus accesorios y mejorar tu presencia frente a cámara.
					article(class="px-6 lg:px-0")
						.flex
							strong(class="hidden md:block") 7
							h2.font-cormorant(class="text-center md:text-left")
								span ¿Qué debería decir a mi familia
								span cuando me pregunten en que trabajo?
						p(class="lg:pl-24") Hay muchas cosas que decir sobre el videochat, pero puedes convencerte de que muchas son fabulosas. Durante la entrevista y el recorrido nuestras modelos se dan cuenta que es un trabajo con integridad y que ofrece muchas perspectivas y desafios. Recomendamos decirles la verdad a tus padres, contar con su apoyo es realmente bueno. Además, las ganancias económicas que puedes obtener aquí superan muchos de los puestos de trabajo en nuestro país.

	include global/footer
	include global/footer-scripts
