<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title MS - Quieres ser parte
	meta(name="description", content="Escribe una descripción breve del proyecto")
	include global/head

body
	include global/header
	main
		section(style="background-image: url('img/back-home-slider-2.png')" class="pb-16").ser-parte-banner
			article(class="lg:w-7/12 lg:mx-auto")
				h2.font-cormorant(class="px-4 lg:px-0")
					p ¿Por qué elegir
					p
						| MediaSet
						span.font-cormorant-italic  Studio?
				div(class=" lg:w-9/12 px-4 lg:px-0 lg:ml-auto lg:mr-0")
					.flex.mt-3
						strong 1
						p MediaSet Studio se enfoca en ayudar a crear y desarrollar talentos para la industria del entretenimiento para adultos a través de plataformas de excelente rentabilidad económica.
					.flex.mt-8
						strong 2
						p Brindamos asesoramiento desde el primer instante para que te conviertas en una destacada Modelo de la industria webcamer, contaras con un equipo Administrativo, Audiovisual, y Técnica altamente calificado, siendo esto indispensable para la modelo en el inicio, desarrollo y estrellato de su carrera.
					.flex.mt-8
						strong 3
						p Nuestro objetivo es brindarte un apoyo constante durante toda tu carrera para que puedas resaltar en la industria webcam y así obtener los mejores resultados mes a mes impactando de forma positiva  tu estilo de vida.

		section(style="background-image: url('img/back-ser-parte-req.png')" class="py-12 lg:py-24").ser-parte-requirimientos
			.container.mx-auto
				article(class="lg:w-8/12 lg:mx-auto")
					h2.font-cormorant(class="px-4 lg:px-0") Requerimientos
					ul(class="lg:w-11/12 ml-4 lg:ml-0 pl-6 lg:ml-24 lg:mr-0 ")
						li
							p Ser mayor de edad y contar con identificación válida
							p (cédula o pasaporte).
						li
							p Conocimiento básico de inglés y habilidades básicas informáticas.
							p Tener una actitud positiva, ser una chica activa, carismática, constante, con determinación, seguridad y confianza en ti misma.
						li
							p Poder trabajar 7 horas al día, 6 días por semana entre los siguientes horarios:
							p.mt-6 6:00 am a 2:00 pm
							p.mt-6 2:00 pm a 10:00 pm
							p.mt-6 10:00 pm a 6:00 am
				.section-registro(class="py-12 px-6 lg:px-0 lg:py-16")
					p.text-center ¿QUIERES SER MODELO?
					p.text-center.mt-2 ¡NO LO PIENSES MÁS!
					a(href="https://api.whatsapp.com/send?phone=+573242784705").my-8.mx-auto COMUNÍCATE
					p.text-center ¡CONVIERTE ESTE SUEÑO EN
					p.text-center.mt-2 TU MEJOR EXPERIENCIA!
		section(style="background-image: url('img/back-ser-parte-enc.png')" class="py-12 lg:py-24").ser-parte-encontraras
			.container.mx-auto
				article(class="lg:w-9/12 lg:mx-auto")
					h2.font-cormorant(class="px-4 text-center lg:text-left lg:px-0") ¿Que encontrarás en MS?
					ul(class="ml-4 lg:ml-auto pl-6 lg:px-0 lg:w-9/12 lg:mr-auto")
						li Brindamos auxilio de transporte desde el primer día de trabajo
						li Excelentes ingresos
						li Pagos semanales
						li Habitaciones cómodas y glamurosas cada una cuenta con aire acondicionado son  espacios creados especialmente para ti.
						li Turnos laborales de 7.5 horas, 6 días de la semana
						li Capacitaciones desde el inicio que ayudarán a forjar el perfil idóneo para cada modelo.
						li Tecnología de punta y asistencia técnica en cada turno.
						li Soporte profesional (contamos con un grupo de profesional detrás de escena velando por el bienestar físico y profesional, consideramos esto esencial para maximizar el desempeño de nuestras colaboradoras)
						li Herramientas totalmente personales de trabajo que garantizaran tu excelente desempeño y generación de ingresos desde el inicio


	include global/footer
	include global/footer-scripts
